body{
    margin: 0;
    padding: 0;
    background-image:url("img/xx_l1_kitchen_main.jpg");
    background-size: cover;
    background-position: center;
}
#navbar{
    text-align: left;
    
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  } 
#navbar  li {
      display: inline;
  }
#navbar li a{
    text-decoration: none;
    word-spacing: 5em;
    color: rgb(241, 144, 32);
    font-size: 20px;
    padding: 0.5em;
    position: sticky;
    
}


#vid{
    height: 400;
    float: right;
    margin-top: 50px;
    position: relative;
    padding-right: 30px;
}